* {
    box-sizing: border-box;
}
  
body {
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: #444;
    text-align: center;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

nav {
    padding: 1% 0;
    background-color: #aaa;
}

main {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.tasks {
    display: flex;
    list-style: none;
    margin: 0px;
    padding-left: 0px;
}

.tasks li {
    border: 1px solid gray;
    padding: 4px 7px;
    margin-right: 8px;
    font-size: 13px;
}

.map {
    height: 250px;
    width: 100%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin: 15px 0px;
}

textarea {
    height: 100px;
    width: 100%;
    margin: 15px 0px;
}

@media only screen and (min-width: 600px) {
    .map {
        width: 400px;
    }

    textarea {
        width: 400px;
    }
}